/*Mobile first*/
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    margin: 0px;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

.header {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 110px;
    margin-top: 0px;
    margin-left: 10px;
}

.header__menu {
    font-size: 2rem;
    margin-right: 80px;
    color: white;
}
.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -40px;
}
.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a{
    color: white;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    margin-right: 8px;
    width: 40px;
    display: flex;
    align-items: center;
}

.header__menu--profile .fa-bars {
    margin-right: 8px;
    width: 40px;
}

.fa-bars {
    content: "\f0c9";
}

.header__menu--profile p {
    margin: 0px;
}