@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    background-color: black;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.parent { 
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 15px;
    grid-row-gap: 20px; 
    }

    .header { grid-area: 1 / 1 / 2 / 6; }
    .frame-trailer { grid-area: 2 / 1 / 5 / 4;}

    .film-details { grid-area: 2 / 4 / 5 / 6;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer { grid-area: 5 / 1 / 6 / 6;} 

    .trailer-item {
        margin-left: 50px;
        border-radius: 20px  solid white;
        width: 50vw;
        height: 50vh;
    } 

    @media only screen and (max-width:768px){
    .parent { 
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
        }
        .trailer-item {
            margin-left: 0px;
            padding-left: 10px;
            padding-right: 10px;
            width: 70vw;
            height: 50vh;
        }
    }